@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	html {
		font-family: 'Quicksand' , sans-serif;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit:  cover;
	}
}
@layer components {
	.top-link {
		@apply text-orange hover:text-black cursor-pointer text-[16px]
	}
	.menu-link {
		@apply text-[16px] px-[5px] py-[10px] border-b-[1px] border-solid border-white font-medium cursor-pointer hover:opacity-[.8]	
	}
	.nav-link {
		@apply block font-bold text-[16px] hover:text-[#000]
	}
	.container {
		@apply max-w-[1170px] mx-[auto] my-[0]
	}
	.drop-link {
		@apply font-medium truncate p-[10px] hover:bg-black-overlay-2 cursor-pointer block
	}
}
